---
import FuturisticBackground from './backgroundInfinite/FuturisticBackground.astro';
import MainSearch from './seeker/MainSearch.astro';
---

<div id="container">
  <FuturisticBackground />
  <MainSearch />
</div>

<style>
  #container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    z-index: 1;
  }
</style>